<!DOCTYPE html>
<html>
  <head>
    <title>MyMusicMaestro</title>
  </head>
  <body>
    {% if user.is_authenticated %} Logged in as {{ user.username }} |
    <form method="post" action="{% url 'logout' %}" style="display: inline">
      {% csrf_token %}
      <button
        type="submit"
        style="
          background: none;
          border: none;
          color: #06c;
          cursor: pointer;
          padding: 0;
        "
      >
        Logout
      </button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
